
[Unit]
Description=X Idle Hook: Manage NeoG9 standby

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XIDLEHOOK_SOCK=%t/xidlehook.socket
ExecStart=bash /home/freeo/dotfiles/scripts/xidlehook_neog9.sh

[Install]
WantedBy=multi-user.target
